<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trips-Advisor</title>
    <link href="https://fonts.googleapis.com/css?family=Slackey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlVUTsuZbPUjXa84b4LRW7tjX4c_ZjfXI"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/js/mapStyles.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <div class="topnav" id="myTopnav">
          <a class="navbar-brand" href="/"><img  src="http://free-icon-download.com/modules/PDdownloads/images/screenshots/hazard-sign-images-slippery_floor.png" alt=""style="width:50px;height:50px;border:0;margin-top:0"></a>
        <% if(locals.isAuthenticated) { %>
          <a href="/trips">Trip Map</a>
          <a href="/trips/new">Add a Trip</a>
          <a href="/users/<%= currentUser.id %>">Profile</a>
          <a href="/logout" class="logout">Logout</a>
          <% } else { %>
          <a href="/register">Register</a>
          <a href="/login" class="login">Login</a>
            <% } %>
      </div>
    </header>


    <%- body %>

  </body>
</html>
