

</div>
<section class="homescreen">

  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8 welcomeMsg">
        <p class="error">404 error - you made a mistake</p>
        <div class="img">

        </div>
      </div>
    </div>
  </div>
</section>
