<section class="homescreen">

  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8 welcomeMsg">

        <h2><%= err.message %></h2>
        <p>500 error - I made a mistake</p>
        <img src="https://68.media.tumblr.com/a32a90036e274294aee61a75e0fdebf7/tumblr_nl2xqcyBAk1set0u4o1_500.gif" alt="dammit">


      </div>
    </div>
  </div>
</section>
