<section class="homescreen">

  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8 welcomeMsg">
        <h1 class="welcomeHeader">Welcome to Trips Advisor</h1>
        <p>Outiside is dangerous, here take this app! </p>
        <p>If you are the type of person who frequently stumbles then this app is for you! <br>
           Log your trips, falls and stumbles so you can warn other clumsy people to avoid the same fate. </p>
        <img src="" alt="">
      </div>
    </div>
  </div>
</section>
