<section class="homescreen">

  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8 welcomeMsg">
        <h1 class="welcomeHeader">Welcome to Trips Advisor</h1>
        <p>Outside is dangerous, here take this app! </p>
        <p>If you are the type of person who frequently stumbles then this app is for you! <br>
           Log your trips, falls and stumbles so you can warn other clumsy people to avoid the same fate. <br>
           You can also see if your friends have stacked it here in London. Click on the markers on the map page to see who has come a cropper near you!</p>
        <img id="gif1" src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr06/2013/5/15/7/anigif_enhanced-buzz-3159-1368617607-10.gif" alt="falling">
      </div>
    </div>
  </div>
</section>
