

</div>
<section class="homescreen">

  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8 welcomeMsg">
        <h1 class="welcomeHeader"><%= user.username %></h1>
        <form method="POST" action="/users/<%= user.id %>">
          <a href="/users/<%= user.id %>/edit" class="button">Edit Account</a>
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete Account</button>
        </form>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/de/03/e0/de03e084b70d1700b084fdba0faba580.jpg" alt="Mr Bump">
      </div>
    </div>
  </div>
</section>
