  <% if (locals.isAuthenticated) { %>
    <div class="mapIndex" id="map" data-lat="51.51363018240385" data-lng="-0.11161208152770996" data-trips="<%= JSON.stringify(trips) %>"></div>
  <% } else { %>
    <div class="home">
      <h1><a href="/login">Log in</a> to view the thrills and spills</h1>
    </div>
  <% } %>
